# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 693a7471c67040b881e38a1c54c4af9a5aa8b216d25c08e7ba94d98200479e6c9951964a8bdba65dd7ae16e221f974d047ac0c7369eee3650f8866b60c3af167
  facebook_app_id: 434896453387779
  facebook_app_secret: <%= ENV["FACEBOOK_APP_SECRET"] %>

test:
  secret_key_base: e4f7fe5aaaf978ab493596f15cb44853799c6fea1dc53aeb96d85701ba21fd672b33b3bbf0ed3eaeb79b43d95d68dec9aedb554f35891218d9bb30a48a1eb396

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  facebook_app_id: 434896453387779
  facebook_app_secret: <%= ENV["FACEBOOK_APP_SECRET"] %>
